<footer>
        <hr>
        <p>CST336 Internet Programming, &copy;2026 Farner | <a href="https://tfarner86.github.io/index.html" type="_blank">Directory to Taylor's CST336 Projects</a></p>
    </footer>