<nav>
  <a href="/">Home</a>
  <a href="/nasa">NASA Picture of the Day</a>

  <a href="/planet?planetName=Mercury">Mercury</a>
  <a href="/planet?planetName=Venus">Venus</a>
  <a href="/planet?planetName=Earth">Earth</a>
  <a href="/planet?planetName=Mars">Mars</a>
  <a href="/planet?planetName=Jupiter">Jupiter</a>
  <a href="/planet?planetName=Saturn">Saturn</a>
  <a href="/planet?planetName=Uranus">Uranus</a>
  <a href="/planet?planetName=Neptune">Neptune</a>
  <a href="/planet?planetName=Pluto">Pluto</a>
  <a href="/planet?planetName=Sun">Sun</a>
  <a href="/planet?planetName=Asteroids">Asteroids</a>
  <a href="/planet?planetName=Meteorite">Meteorites</a>
  <a href="/planet?planetName=Comets">Comets</a>
</nav>