<%- include('partials/head.ejs') %>
    <h1>The Solar System</h1>
     <%- include('partials/nav.ejs') %>
    <h2>Planet Earth</h2>
    <img src="<%=   planetEarth.image  %>">
    <%=   planetEarth.description  %>
</body>
</html>
