<style>
    body{ 
        background-image: url("<%= image %>");
        background-size: cover;
    }
</style>
<%- include('partials/head.ejs') %>
    <h1>The Solar System</h1>
     <%- include('partials/nav.ejs') %>
    <img src="/img/solarSystem.jpg">
<%- include('partials/footer.ejs') %>
</body>
</html>
